<form>
  <label>
    <input type="text" placeholder="What are you up to?" id="update">
  </label>
</form>

<script>
  $("#update").keypress(function (e) {
      if (e.which == 13) {
    e.preventDefault();
    text = $('input')[0].value;

    $.post("/posts", {  post: { user_id: <%= current_user.id %>, post_content: text } })
    .done(function(data){
    location.reload();
})
    .fail(function(){ console.log("Sorry, didn't work. Please try to resubmit.") });
}

  });
</script>