.members-pic {
  height:9em;
  width:9em;
  border: solid 1px gray;
}

.members-profile {
  width:95%;
  margin: 0 auto;
}

.members-individual {
  border: solid 1px gray;
  padding: 10px;
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 10px;
  text-align: center;
}

.friends-individual {
  padding: 0px;
  display: inline-block;
  margin-bottom: 2px;
  margin-right: 2px;
  text-align: center;
  
  font-size: .8em;
}

.friends-pic {
  height:4em;
  width:4em;
  border: solid 1px gray;
}

