<h1>Fitter.us</h1>

<div class="icon-bar five-up">
  <a class="item" href="/">
    <i class="fi-home"></i>
    <label class="hide-for-small-only">Home</label>
  </a>
  <a class="item" href="/users">
    <i class="fi-torsos-all"></i>
    <label class="hide-for-small-only">Members</label>
  </a>
  <a class="item">
    <i class="fi-mail"></i>
    <label class="hide-for-small-only">Messages</label>
  </a>

  <span class="item"><%= link_to user_path(current_user) do %> 
    <i class="fi-torso"></i>
    <label class="hide-for-small-only">Your Profile</label>
    <% end %>
  </span>

  <span class='item'>
    <% if user_signed_in? %> 
      <%= link_to destroy_user_session_path, method: :delete do %>
      <i class="fi-key"></i>
      <label class="hide-for-small-only">Sign In/Out</label>
      <% end %>
    <% else %>
      <%= link_to new_user_session_path %>
    
    
    <% end %>
  </span>
</div>





    
    
 
      
    