<h1>Fitter.us</h1>

<div class="icon-bar five-up">
  <a class="item" href="/">
    <i class="fi-home"></i>
    <label class="hide-for-small-only">Home</label>
  </a>
  <a class="item" href="/users">
    <i class="fi-torsos-all"></i>
    <label class="hide-for-small-only">Members</label>
  </a>
  <a class="item">
    <i class="fi-mail"></i>
    <label class="hide-for-small-only">Messages</label>
  </a>
  <a class="item" href='/users/#{:id}'>
    <i class="fi-torso"></i>
    <label class="hide-for-small-only">Your Profile</label>
  </a>
  <a class="item">
    <i class="fi-key"></i>
    <label class="hide-for-small-only">Sign In/Out</label>
  </a>
</div>